* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button,
input[type="button"] {
  color: black;
  padding: 1px;
  font-size: 15px;
  background: #EEE;
  border: 1px solid #999;
  min-width: 50px;
  border-radius: 5px;
}
@media (min-aspect-ratio: 1/1) {
  
}
@media (max-aspect-ratio: 1/1) {
  
}
