* {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

button,input[type="button"]{
	color:black;
	padding:1px;
	font-size:15px;
	background:#EEE;
	border:1px solid #999;
	min-width:50px;
	border-radius:5px;
}
button:active,input[type="button"]:active{
	background:#DDD;
	border:1px solid #888;
}
@media (min-aspect-ratio:1/1){
//Use this section for desktop styling

}
@media (max-aspect-ratio:1/1){
//Use this section for mobile styling

}