* {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

button,input[type="button"]{
	color:black;
	padding:1px;
	font-size:15px;
	background:#CCC;
	border:3px outset #CCC;
	min-width:50px;
}
button:active,input[type="button"]:active{
	border:3px inset #CCC;
}